@use 'styles/scss/var/colors';
@use 'styles/scss/var/breakpoints';

.Content {
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
  margin: auto;
  box-sizing: border-box;
  width: 100%;

  @media only screen and (min-width: breakpoints.$lg) {
    width: 75%;
  }
}
